*, html {
  color: white;
  font-family: sans-serif;
}

nav {
  background-color: #C99C4D;
}

body {
  background-color: #E3AF56;
  text-align: center;
}

footer {
  background-color: #634D26;
}

h1 {
  font-family:cursive;
  font-size: 76px;
}

img {
  width: 500px;
  margin: 0 auto;
}